<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="service.com.surebot.info.serviceperson">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
        tools:ignore="AllowBackup">
        <activity android:name=".activities.HelpCenterActivity"></activity>
        <activity
            android:name=".activities.PaymentActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.BuyAPackageActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.PackageListingActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.SendQuoteActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.SplashActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ServicePersonHome_Activity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PartnerSignupWorkTypeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.PartnerSignupActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.PartnerLoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.OnBoardSalonWomenProfile" />
        <activity android:name=".activities.PreLoginActivity" />
        <activity
            android:name=".activities.SetNewPasswordActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.Terms"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.CustomerSupportActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AboutUsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AboutMeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.NewServiceDetailsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.SignUp_Activity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.serviceDetailsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.NotificationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.OnBoardIdentityVerificationActivity"
            android:windowSoftInputMode="adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activities.AwardsAndCertificateActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.Login_Activity" />
        <activity android:name=".activities.changePasswordActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>