<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="service.com.surebot.info.serviceperson">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity android:name=".Activity.SetNewPasswordActivity"></activity>
        <activity android:name=".Activity.ForgotPasswordActivity" />
        <activity android:name=".Activity.Terms" />
        <activity android:name=".Activity.HelpCenterActivity" />
        <activity android:name=".Activity.FAQActivity" />
        <activity android:name=".Activity.CustomerSupportActivity" />
        <activity android:name=".Activity.AddPersonalDetailsActivity" />
        <activity android:name=".Activity.AccountDetailsActivity">

        </activity>
        <activity android:name=".Activity.AboutUsActivity" />
        <activity android:name=".Activity.AboutMeActivity" />
        <activity android:name=".Activity.ServicesAdd_Activity" />
        <activity android:name=".Activity.CreateProfileActivity" />
        <activity android:name=".Activity.ServicePersonHome_Activity" />
        <activity android:name=".Activity.SignUp_Activity" />
        <activity android:name=".Activity.serviceDetailsActivity" />
        <activity android:name=".Activity.PersonalDetailView" />
        <activity android:name=".Activity.NotificationActivity" />
        <activity android:name=".Activity.IdentityVerificationActivity" />
        <activity android:name=".Activity.congratsActivity" />
        <activity android:name=".Activity.PrimePartnerActivity" />
        <activity android:name=".Activity.AwardsAndCertificateActivity" />
        <activity android:name=".Activity.PaymentActivity" />
        <activity android:name=".Activity.changePasswordActivity" />
        <activity android:name=".Activity.Login_Activity" > <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>